<div class="form-container">
    <h2 class="input-recipe-title c-powder">Input a Recipe</h2>
    <form [formGroup]="newRecipe">
        <!-- START Recipe Name Field-->
        <mat-form-field class="form-input" appearance="fill">
            <mat-label for="recipeName">Recipe Name</mat-label>
            <input matInput type="text" formControlName="recipeName" required>
            <mat-error *ngIf="newRecipe.controls.recipeName.invalid">Must be less than 100 characters</mat-error>
        </mat-form-field>
        <!-- END Recipe Name Field -->
        <!-- START Picture Field -->
        <mat-form-field class="form-input" appearance="fill">
            <mat-label for="imageUri">Picture of Dish</mat-label>
            <input matInput type="text" formControlName="imageUri" placeholder="pictureoffood.com/image">
        </mat-form-field>
        <!-- END Picture Field -->
        <br>
        <!-- START Cook and Prep Time Fields -->
        <div class="cook-prep-container">
            <mat-form-field class="form-input cook-input" appearance="fill">
                <mat-label>Cook Time</mat-label>
                <input matInput type="number" placeholder="Ex. 30 min" formControlName="cookTime" min="0">
                <span class="c-powder" matSuffix>minutes</span>
                <mat-error *ngIf="newRecipe.controls.cookTime.invalid">Must be numerical value</mat-error>
            </mat-form-field>
            <mat-form-field class="form-input prep-input" appearance="fill">
                <mat-label>Prep Time</mat-label>
                <input matInput type="number" placeholder="Ex. 15 min" formControlName="prepTime" min="0">
                <span class="c-powder" matSuffix>minutes</span>
                <mat-error *ngIf="newRecipe.controls.cookTime.invalid">Must be numerical value</mat-error>
            </mat-form-field>
        </div>
        <!-- END Cook and Prep Time Fields -->
        <br>
        <!-- START Instructions -->
        <div class="instructions-divider-top"></div>
        <div class="c-powder group-label">Instructions</div>
        <mat-form-field class="form-input" appearance="fill">
            <mat-label for="instruction2Control">Add Instruction</mat-label>
            <input matInput type="text" formControlName="instruction2Control" placeholder="">
            <button (click)="addInstruction2($event)" mat-icon-button matSuffix [attr.aria-label]="'Add Instructions'">
                <mat-icon class="c-white">add</mat-icon>
            </button>
        </mat-form-field>
        <mat-chip-list class="example-chip mat-chip-list-stacked" cdkDropList (cdkDropListDropped)="drop($event)">
            <div cdkDrag class="ordered-chips-container" *ngFor="let instruction of instructions2">
                <span class="c-white instruction-number">{{instruction.instructionOrder + 1}}</span>
                <mat-chip class="ordered-chips instruction-chip" [removable]="removable"
                    (removed)="removeInstruction2(instruction)">
                    <mat-icon class="custom-hamburger-icon">menu</mat-icon>
                    <span class="instruction-text">{{instruction.content}}</span>
                    <mat-icon class="insctruction-remove" matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
            </div>
        </mat-chip-list>
        <!-- END Instructions -->
        <!-- START Ingredients -->
        <div class="ingredients-divider-top"></div>
        <div class="c-powder group-label">Ingredients</div>
        <form [formGroup]="ingredientsFromGroup" #formDirective="ngForm">
            <div class="ingredients-container">
                <div class="ingredient-name-container">
                    <mat-form-field class="form-input ingredient-name" appearance="fill">
                        <mat-label for="ingredient2ContentControl">Ingredient Name</mat-label>
                        <input matInput type="text" formControlName="ingredient2ContentControl" placeholder="">
                    </mat-form-field>
                </div>
                <div class="ingredient-quantity-measure-containter">
                    <mat-form-field class="form-input ingredient-quantity" appearance="fill">
                        <mat-label for="ingredient2QuantityControl">Quantity</mat-label>
                        <input matInput type="number" formControlName="ingredient2QuantityControl" placeholder="">
                    </mat-form-field>
                    <mat-form-field class="form-input ingredient-measure" appearance="fill">
                        <mat-label for="ingredient2MeasureControl">Measurement</mat-label>
                        <mat-select formControlName="ingredient2MeasureControl">
                            <mat-option>-- None --</mat-option>
                            <mat-optgroup *ngFor="let option of ingredientMeasureOptions" [label]="option.type">
                                <mat-option *ngFor="let measurement of option.measurement" [value]="measurement.value">
                                    {{measurement.value}}
                                </mat-option>
                            </mat-optgroup>
                        </mat-select>
                    </mat-form-field>
                    <button class="ingredient-add" (click)="addIngredients($event, formDirective)" mat-icon-button
                        matSuffix [attr.aria-label]="'Add Ingredients'">
                        <mat-icon class="c-white custom-mat-icon">add</mat-icon>
                    </button>
                </div>
            </div>
            <mat-chip-list class="custom-mat-chip-list">
                <mat-chip *ngFor="let ingredient of ingredients2" class="example-box ingredient-chip"
                    [removable]="removable" (removed)="removeIngredients(ingredient)">
                    <span
                        class="ingredient-chip-text">{{ingredient.content}}&nbsp;&nbsp;|&nbsp;&nbsp;{{ingredient.quantity}}&nbsp;&nbsp;|&nbsp;&nbsp;{{ingredient.measure}}</span>
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
            </mat-chip-list>
        </form>
        <div class="ingredients-divider-bottom"></div>
        <div class="c-powder group-label">Categories</div>
        <!-- END Ingredients -->
        <!-- START Categories -->
        <mat-form-field class="form-input category-input">
            <mat-label>Add Categories</mat-label>
            <mat-chip-list #chipList aria-label="Category selection">
                <mat-chip *ngFor="let category of categories" [selectable]="selectable" [removable]="removable"
                    (removed)="remove(category)">
                    {{category.name}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="Add Category..." #categoryInput formControlName="categoryControl"
                    [matAutocomplete]="auto" [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)" [displayWith]="displayFn">
                <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
                    {{category.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <!-- END Categories -->
        <div class="ingredients-divider-bottom"></div>
        <div class="c-powder group-label">Update Notes</div>
        <mat-form-field class="form-input" appearance="fill">
            <mat-label for="notesControl">What did you update?</mat-label>
            <input matInput type="text" formControlName="notesControl" placeholder="">
            <button (click)="addNotes($event)" mat-icon-button matSuffix [attr.aria-label]="'Add Notes'">
                <mat-icon class="c-white">add</mat-icon>
            </button>
        </mat-form-field>
        <div class="ordered-notes-container">
            <mat-list role="list" *ngFor="let note of notes">
                <div class="note-list-item">
                    <mat-list-item role="listitem" class="notes">{{note.timestamp}} -- {{note.note}}
                    </mat-list-item>
                    <mat-icon (click)="removeNote(note)" class="c-white note-cancel">cancel</mat-icon>
                </div>
            </mat-list>
        </div>
    </form>
    <div class="button-container">
        <button mat-stroked-button (click)="close()"
            class="input-recipe-cancel-button input-recipe-button">Cancel</button>
        <button mat-raised-button (click)="existingRecipe ? updateRecipe($event) : addRecipe($event)"
            class="input-recipe-done-button input-recipe-button">{{ existingRecipe ? "Update Recipe" : "Add Recipe"}}</button>
    </div>
</div>