@import "/src/styles/styles.scss";

.row {
  min-width: 100%;
  display: flex;
  position: absolute;
  margin: auto;
  overflow-x: hidden;
}

img {
  border-radius: 0.5em;
  border: 1px solid $teal;
  opacity: 0.5;
  object-fit: cover;
  overflow: visible;
  margin: auto;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-custom {
  width: 12.5%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

.imgs {
  box-sizing: border-box;
}

.parent-row {
  box-sizing: border-box;
  position: relative;
}
