<div class="parent-row">
    
    <div class="row">
        <div class="col-custom">
            <div class="imgs">
                <img src="/assets/images/3a871987c625e84978ed8028229d1c14.jpg" alt="recipe image">
                <img src="/assets/images/4c93860a6c3ae62fad2d442f5a9a430d.jpg" alt="recipe image">
                <img src="/assets/images/5abd8bc2f1851d8d526f0156ee119860.jpg" alt="recipe image">
                <img src="/assets/images/5ad57227c0433cdca52d3d4636994803.jpg" alt="recipe image">
            </div>
        </div>
        <div class="col-custom">
            <div class="imgs">
                
                <img src="/assets/images/5f73b451fbf7f9ba27d837594372a072.jpg" alt="recipe image">
                <img src="/assets/images/6b9ba726ceec04ea88663382d39ec5dc.jpg" alt="recipe image">
                <img src="/assets/images/6ce01e472206e87e54708dc2378169ae.jpg" alt="recipe image">
                <img src="/assets/images/6e3aa0cb4551bd9e11da7fa3ee06e44b.jpg" alt="recipe image">
            </div>
        </div>
        <div class="col-custom">
            <div class="imgs">
                
                <img src="/assets/images/7ca6646093c7a90b0996d2ac084384a1.jpg" alt="recipe image">
                <img src="/assets/images/7e68c11e4a2fe69d8112675ab5211d94.jpg" alt="recipe image">
                <img src="/assets/images/8d5670c39c0f301d34e75730de6cd9f8.jpg" alt="recipe image">
                <img src="/assets/images/8e58c699fed88d7f76df8e36c55ece53.jpg" alt="recipe image">
            </div>
        </div>
        <div class="col-custom">
            <div class="imgs">
                
                <img src="/assets/images/9adbe62cef945f40d010601e7f6f58bc.jpg" alt="recipe image">
                <img src="/assets/images/11bae22b1187ddf6191db26e45057358.jpg" alt="recipe image">
                <img src="/assets/images/35c7d5359ef3e7109b489ceecb9747e0.jpg" alt="recipe image">
                <img src="/assets/images/48cd866e2aaf4936f9e932ae4f8606a0.jpg" alt="recipe image">
            </div>
        </div>
        <div class="col-custom">
            <div class="imgs">
                
                <img src="/assets/images/90a847d5b0442c58bbd1341525dfbcad.jpg" alt="recipe image">
                <img src="/assets/images/463d0f18bfe03571e6cb0c924a9faee7.jpg" alt="recipe image">
                <img src="/assets/images/641afad4c5330c871f7aae021ff82eb2.jpg" alt="recipe image">
                <img src="/assets/images/717e72ace4e07fe3a888575c2e055e4e.jpg" alt="recipe image">
            </div>
        </div>
        <div class="col-custom">
            <div class="imgs">
                <img src="/assets/images/452078e959acefeb64f8fcfea2336e51.jpg" alt="recipe image">
                <img src="/assets/images/2274951aab0fc935dee499f3d6b8f78a.jpg" alt="recipe image">
                <img src="/assets/images/72637593ff4499076cb2e5d4081bdd15.jpg" alt="recipe image">
                <img src="/assets/images/a2c4f9a2cda860eee0caa635831a69bd.jpg" alt="recipe image">
            </div>
        </div>

        
        

        <div class="col-custom">
            <div class="imgs">
                <img src="/assets/images/a42ebecca4230b81499e137a36c2c2bb.jpg" alt="recipe image">
                <img src="/assets/images/a431cf5bce590003b672f346d6aae285.jpg" alt="recipe image">
                <img src="/assets/images/b2fa4acd10ac2a554f91825d48d406a3.jpg" alt="recipe image">
                <img src="/assets/images/b8fc3cdeb10fa38469fb40c8461b4312.jpg" alt="recipe image">
            </div>
        </div>
        <div class="col-custom">
            <div class="imgs">
                
                <img src="/assets/images/e3d7a41ac9bd4b50293be25f36a6fe3c.jpg" alt="recipe image">
                <img src="/assets/images/f2eaf656388a047b979a9c28667b4b96.jpg" alt="recipe image">
                <img src="/assets/images/66676bde0e9e663ae2efd8a1dcd10913.jpg" alt="recipe image">
                <img src="/assets/images/fbd856b3e4786565ae9eb1ab2cb69cc4.jpg" alt="recipe image">
            </div>
        </div>
    </div>
</div>
