<mat-dialog-content [formGroup]="signUpForm">
    <img src="/assets/images/logo.svg" class="filter-jet">
    <div class="container">
        <h1>You're almost finished...</h1>
        <p>Enter a unique username to
            finish creating your account.</p>
    </div>
        <mat-form-field class="input-example" appearance="fill">
            <mat-label class="c-metal">Username</mat-label>
            <input matInput type="text" class="c-metal username" formControlName="username" required>
            <div class="mat-error" *ngIf="signUpForm.get('username').invalid && signUpForm.get('username').touched">{{getErrorMessage()}}</div>
        </mat-form-field>
        <div class="action">
        <button mat-raised-button [disabled]="signUpForm.invalid" (click)="signUp($event)" class="bg-onyx">Sign Up</button>
    </div>
      <p>By continuing, you agree to this site's <a href="#">Terms
            of Service</a>and <a href="#">Privacy Policy</a>.</p>
</mat-dialog-content>