  @import "/src/styles/styles.scss";

.flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-flow: row wrap;
    margin-top: 10px;
  }




