$md-teal: (
    50 : #e1edee,
    100 : #b4d1d4,
    200 : #82b2b8,
    300 : #50939c,
    400 : #2b7c86,
    500 : #056571,
    600 : #045d69,
    700 : #04535e,
    800 : #034954,
    900 : #013742,
    A100 : #77e4ff,
    A200 : #44daff,
    A400 : #11cfff,
    A700 : #00c5f6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$md-black: (
    50 : #e3e3e3,
    100 : #b9b9b9,
    200 : #8a8a8a,
    300 : #5b5b5b,
    400 : #373737,
    500 : #141414,
    600 : #121212,
    700 : #0e0e0e,
    800 : #0b0b0b,
    900 : #060606,
    A100 : #ff4e4e,
    A200 : #ff1b1b,
    A400 : #e70000,
    A700 : #ce0000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
$md-jet: (
    50 : #e7e7e7,
    100 : #c3c3c3,
    200 : #9b9b9b,
    300 : #727272,
    400 : #545454,
    500 : #363636,
    600 : #303030,
    700 : #292929,
    800 : #222222,
    900 : #161616,
    A100 : #ef6f6f,
    A200 : #ea4141,
    A400 : #f80000,
    A700 : #df0000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
$md-onyx: (
    50 : #e8e8e8,
    100 : #c6c6c6,
    200 : #a0a0a0,
    300 : #7a7a7a,
    400 : #5e5e5e,
    500 : #414141,
    600 : #3b3b3b,
    700 : #323232,
    800 : #2a2a2a,
    900 : #1c1c1c,
    A100 : #f07777,
    A200 : #eb4949,
    A400 : #ff0202,
    A700 : #e70000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
$md-metal: (
    50 : #e3e5e7,
    100 : #babec2,
    200 : #8c939a,
    300 : #5e6871,
    400 : #3c4752,
    500 : #192734,
    600 : #16232f,
    700 : #121d27,
    800 : #0e1721,
    900 : #080e15,
    A100 : #5796ff,
    A200 : #2476ff,
    A400 : #005af0,
    A700 : #0050d6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
$md-watermelon: (
    50 : #ffedeb,
    100 : #ffd2ce,
    200 : #ffb5ae,
    300 : #ff978d,
    400 : #ff8074,
    500 : #ff6a5c,
    600 : #ff6254,
    700 : #ff574a,
    800 : #ff4d41,
    900 : #ff3c30,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffdddb,
    A700 : #ffc5c2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$md-mint: (
    50 : #f8faf7,
    100 : #eef3ec,
    200 : #e2ece0,
    300 : #d6e4d3,
    400 : #cedec9,
    500 : #c5d8c0,
    600 : #bfd4ba,
    700 : #b8ceb2,
    800 : #b0c8aa,
    900 : #a3bf9c,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #fcfffc,
    A700 : #e8ffe2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$md-powder: (
    50 : #fefefd,
    100 : #fbfdfb,
    200 : #f9fbf9,
    300 : #f7f9f6,
    400 : #f5f8f4,
    500 : #f3f7f2,
    600 : #f1f6f0,
    700 : #eff5ee,
    800 : #edf3ec,
    900 : #eaf1e8,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$md-white: (
    50 : #ffffff,
    100 : #ffffff,
    200 : #ffffff,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);















