@import "/src/styles/styles.scss";

.img {
  margin: 10px;
}

::ng-deep.mat-dialog-container {
  background-color: $mint !important;
  width: 100%;
  border-radius: 0.5em;
}

::ng-deep.mat-dialog-content {
  text-align: center !important;
}

.container {
  margin: 50px 0 10px 0;
}

button {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.button-error{
  border: 1.5px solid $watermelon;
  // box-shadow: 0px 6px 6px -6px $watermelon !important;
}

.fa {
  margin: 5px;
}

.flex-container {
  display: none;
}

.auth-error{
  font-size: larger;
  font-family: "Roboto,Helvetica Neue", sans-serif !important;
  margin: 1em;
}
